<table>
  <thead>
  <tr>
    <th></th><br>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <p>Tweet from Database</p>
  <% @TweetSearchResult.each do |tweet| %>
      <tr>
        <td><%= tweet.to_s %></td>
        <br>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back", :controller => "tweet", :action => "index" %>