<form accept-charset="UTF-8" action="/tweet/show" method="get">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search Tweet" />
</form>

<script>
    function send()
    {
        var text = $("#q").val();
        $.get('/app/tweet/show', { search_text: text});
    }
</script>
