<h1>Listing Bing Search</h1>

<table>
  <thead>
  <tr>
    <th></th><br>
  </tr>
  </thead>

  <tbody>
<p>Result from Database :</p>
<% @SearchResult.each do |str| %>
      <tr>
        <td><%= str.searchResult %></td>
      </tr>
      <tr><br></tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", :controller => "bing", :action => "index" %>
