<table>
  <thead>
  <tr>
    <th></th><br>
    <th></th>
  </tr>
  </thead>


  <tbody>
<p>Result from Web :</p>
           <%= @WebSearchResult %>
      </tbody>
</table>
<br>
<%= link_to "Back", :controller => "bing", :action => "index" %>