<table>
  <thead>
  <tr>
    <th>Bing Search</th>
    <th></th>
  </tr>
  </thead>

  <% @jmc= 'from web' %>
  <%=@jmc%><br>
  <tbody>

           <%= @WebSearchResult %>
      </tbody>
</table>
<br>
<%= link_to "Back", :controller => "bing", :action => "index" %>